joblib==0.14.1
numpy==1.18.2
pandas==1.0.3
python-dateutil==2.8.1
pytz==2019.3
scikit-learn==0.22.2.post1
scipy==1.4.1
six==1.14.0
sklearn==0.0

matplotlib~=3.5.3
torch~=1.13.1
torchvision~=0.14.1
torchinfo~=1.7.2
seaborn~=0.12.2
imblearn~=0.0